{% extends "parent.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row content" style="height: 100%">
        <div class="col-sm-10">

            <div class="panel panel-default" style="margin-top:15px;">
                <div class="panel-heading"><h2>Generate Phonological Neighbours and Neighbourhood Density</h2></div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <p><span><b>Neighbourhood density</b></span> is a measure indicating the number of a word's phonological neighbours.
                            A word's phonological neighbour is a sequence differing from it by one phoneme by virtue of
                            replacement (subsititution), deletion or insertion of one phoneme.
                            Thus, among the phonological neighbours of the Polish word 'kot' are 'kit'
                            (replacing the phoneme /o/ with /i/), 'kotu' (inserting the phoneme /u/), or 'od'
                            (deleting the initial phoneme /k/). This device only generates neighbours of Polish words.
                        </p>
                    </div>
                <div class="form-group">
                    <form action='/neighbours' method="POST">
                        <h4>{{ form.word(class="form-control", style="width: 20%; font-size: 18px;", placeholder="Enter a word...") }}</h4>
                        <input type="submit" class="btn btn-primary" value="Generate">
                    </form>
                </div>
                    </div>
            </div>


            <div class="panel panel-default" style="margin-top:15px;">
                <div class="panel-heading"><h4>Neighbours: <span><b>{{ word }}</b></span></h4></div>
                <div class="panel-body">
                    <h4>{% if neighbours!=None %}{% for neighbour in neighbours%}{{ neighbour }}, {% endfor %}{% else %}<span style="color: #a9acb0">...</span>{% endif %}</h4>
                </div>
                {% if word %}
                <img src="data:image/png;base64, {{ plot_url }}">
                {% endif %}
            </div>

            <div class="panel panel-default" style="margin-top:15px;">
                <div class="panel-heading"><h4>Phonological Neighbourhood Density: <span><b>{{ word}}</b></span> </h4></div>
                <div class="panel-body">
                    <h4><b>{{ density }}</b></h4>
                </div>
            </div>


            <div class="container" style="padding: 0; width: auto;">

            </div>


        </div>
    </div>
</div>




{% endblock %}