<!DOCTYPE html>
<html lang="en">
<head>
  <title>Phonological Network Measures</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1200px;}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #5789fa;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
      }
      .row.content {height: auto;}
    }

    .navbar {margin-bottom: 0px;}

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/" class="navbar-brand">Network Measures</a></li>
        <li><a href="{{ url_for('neighbours') }}">Phonological Neighbourhood</a></li>
        <li><a href="{{ url_for('coefficient') }}">Clustering Coefficient</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid">
  <div class="row content">
      <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <hr>
        <li><a data-toggle="collapse" href="#collapseNeighbour"  aria-expanded="false"
               aria-controls="collapseNeighbour"
               style="color: black; font-weight: bold; background-color:#5789fa; text-decoration:none;">
          <span class="glyphicon glyphicon-hand-right"></span> NEIGHBOURHOOD DENSITY CALCULATOR</a></li>
        <div class="collapse" id="collapseNeighbour">
          <form class="input-group" action="" method="POST">
            <input type="text" class="form-control" id="form" name="word" placeholder="Enter a word...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary"
                        type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
          </form>
        </div>

        {% if word %}
        {% if density%}

        <div class="thumbnail" style="margin-top: 15px;">
        <li><a style="color: green; font-weight: bold; text-decoration:none;"><span class="glyphicon glyphicon-thumbs-up"></span>
          {{ word.upper() }} neighbourhood density is <b>{{ density|round }}</b>
        </a></li>
        </div>

        {% else %}
        <div class="thumbnail" style="margin-top: 15px;">
        <li><a style="color: red; font-weight: bold; text-decoration:none;">
          <span class="glyphicon glyphicon-thumbs-down"></span>
          {{ word.upper() }} is a hermit - it does not have any neighbours</a></li>
        </div>

        {% endif %}
        {% endif %}
        <hr>
        <li><a data-toggle="collapse" href="#collapseCoefficient"
               aria-expanded="false" aria-controls="collapseCoefficient"
               style="color: black; font-weight: bold; background-color:#5789fa; text-decoration:none;">
          <span class="glyphicon glyphicon-hand-right"></span> CLUSTERING COEFFICIENT CALCULATOR</a></li>
        <div class="collapse" id="collapseCoefficient">
          <form class="input-group" action="" method="POST">
            <input type="text" class="form-control" id="form_co" name="word_co" placeholder="Enter a word...">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary" type="button">
                  <span class="glyphicon glyphicon-search"></span></button>
              </span>
          </form>
        </div>

        {% if word_co %}
        {% if c != 0 %}

        <div class="thumbnail" style="margin-top: 15px;">
        <li><a style="color: green; font-weight: bold; text-decoration:none;">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          {{ word_co.upper() }} clustering coefficient is <b>{{ c }}</b></a></li>
        </div>

        {% else %}
        <div class="thumbnail" style="margin-top: 15px;">
        <li><a style="color: red; font-weight: bold; text-decoration:none;">
          <span class="glyphicon glyphicon-thumbs-down"></span>
          {{ word_co.upper() }}'s clustering coefficient is 0</a></li>
        </div>

        {% endif %}
        {% endif %}

        <hr>
      </ul><br>
    </div>
    {% block content %}
      {% endblock %}
  </div>
</div>

<footer class="container-fluid">
  <p></p>
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
<script>
  $("[data-toggle=popover]").popover();
</script>

</body>
</html>

